<!--<div class="wrap">-->
    <div class=" menubox">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle <%= data == 'home' && 'active'%>" href="/">首页</a>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">办公采购</a>
                </div>
                <div id="collapse1" class="accordion-body collapse in">
                    <div class="accordion-inner"><a href="/pageA.html">专柜商品库</a></div>
                    <div class="accordion-inner"><a href="/delete/delete.html">收藏商品</a></div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">订单中心</a>
                </div>
                <div id="collapse2" class="accordion-body collapse in">
                    <div class="accordion-inner"><a href="/child/one.html">订单管理</a></div>
                    <div class="accordion-inner"><a href="/aaaa.html">待处理订单</a></div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">财务中心</a>
                </div>
                <div id="collapse3" class="accordion-body collapse in">
                    <div class="accordion-inner"><a href="/">线上对账</a></div>
                    <div class="accordion-inner"><a href="/">采购记录</a></div>
                    <div class="accordion-inner"><a href="/">发票管理</a></div>
                    <div class="accordion-inner"><a href="/">采购报表</a></div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" href="/">云仓库</a>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">管理中心</a>
                </div>
                <div id="collapse4" class="accordion-body collapse in">
                    <div class="accordion-inner"><a href="/">账号管理</a></div>
                    <div class="accordion-inner"><a href="/">用户组管理</a></div>
                    <div class="accordion-inner"><a href="/">角色权限管理</a></div>
                    <div class="accordion-inner"><a href="/">地址管理</a></div>
                    <div class="accordion-inner"><a href="/">审批流管理</a></div>
                    <div class="accordion-inner"><a href="/">企业人员管理</a></div>
                    <div class="accordion-inner"><a href="/">消息推送</a></div>
                    <div class="accordion-inner"><a href="/">预算管理</a></div>
                    <div class="accordion-inner"><a href="/">预算查询</a></div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">个人设置</a>
                </div>
                <div id="collapse5" class="accordion-body collapse in">
                    <div class="accordion-inner"><a href="/">修改密码</a></div>
                    <div class="accordion-inner"><a href="/">地址设置</a></div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->


<!--<div class="menu">-->
<!--    <span>11111111111111</span>-->
<!--</div>-->