
<div class="header">
        <div class="header_top">
            <div class="wrap">
                <div class="col-md-4 col-xs-4">
                    <span class="glyphicon glyphicon-adjust"></span>
                    <a href="/">回到首页</a>
                </div>
                <div class="col-md-8 col-xs-8">
                    <p class="header_r">
                        <span>您好，lwx123</span>
                        <span>企业中心</span>
                        <span>专属客服:领先 1388888888</span>
                        <a href="/">退出</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="header_con">
            <div class="wrap">
                <span class="logo"><img src="${require('../../img/logo.png')}" /></span>
                <span class="banner"><img src="${require('../../img/banner.png')}" /></span>
                <a class="btn shopping"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;购物车<i>3</i></a>
            </div>
        </div>

</div>
