<div class="footer">
<!--  <%=data.footer_name %>-->
    <ul class="wrap footer_con">
        <li>当前站点：北京</li>
        <li>当前站点联系电话 : 010-66123123  400—888-1123</li>
        <li>当前站点地址 : (总部)北京市朝阳区大羊坊路85号新华国际广场A座11层</li>
        <li>客服热线 : 400-888-1123    010-66123123</li>
        <li>工作时间 : 周一至周五 09:00-18:00</li>
        <li>外部投诉/内部投诉 : 13366012315     13366012315@66123123.com</li>
        <li>廉政举报 : 13366212388    13366212388@66123123.com</li>
        <li>经营许可证编号 : B2-20180949</li>
        <li>食品经营许可证编号 : JY1101172150475</li>
        <li>京ICP备08001160号-10</li>
        <li>京公网安备 11010502037312号</li>
        <li>Copyright @领先未来 2008-2019 All Rights Reserved</li>
    </ul>
</div>
