.footer{
  background: #eee;
  font-size: 30px;
  color: #303030;
  margin-top: 20px;
}
.footer_con{
  font-size: 0.14rem;
  height: 120px;
  padding: 20px 10px;
}
.footer_con li{
  float: left;
  margin-bottom: 10px;
  margin-right: 30px;
  font-size: 12px;
}
.wrap{
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}